<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <div class="container-fluid">
        
        <a class="navbar-brand" href="http://localhost:8000/lab-4/">Lab 4</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:8000/lab-4/add-note">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="http://localhost:8000/lab-4/note-list">List</a>
            </li>

            
          </ul>
        </div>
      </div>
    </nav>
    <section class="tabel">
    <table>
      <tr>
        <th class="i">From</th>
        <th class="i">To</th>
        <th class="i">Title</th>
        <th class="i">message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      
        {% if notes %}
          {% for note in notes %} 
          <tr>
          <td>{{note.fromInp}}</td>
          <td>{{note.to}}</td>
          <td>{{note.title}}</td>
          <td>{{note.message}}</td>
        </tr>
          {% endfor %}
        {% endif %}
      
      
      <!-- END SECTION -->
    </table>
  </section>
  </body>
</html>
