body{
    background-color: #CFB784;
    
}
th{
    font-family: 'Abril Fatface', cursive;
    font-size: xx-large;
    padding: 2% 20px 20px 2%;
}
td{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    
}
body{
    text-align: center;
    
}
.tabel{
    height: 200px;
    width: 400px;
    

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
li{
    list-style: none;
}

.att-note{
    background-color: #DAD5AB;
    padding: 2%;
}
