th{
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    padding: 2% 20px 20px 2%;
}
td{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    
}
body{
    text-align: center;
    
}
.tabel{
    /* height: 200px;
    width: 400px; */
    

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
form{
    text-align: center;
}