<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      {{form}}
      <input type="submit">
    </form >
  </body>
</html>
