<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      
        {% if notes %}
          {% for note in notes %} 
          <tr>
          <td>{{note.fromInp}}</td>
          <td>{{note.to}}</td>
          <td>{{note.title}}</td>
          <td>{{note.message}}</td>
        </tr>
          {% endfor %}
        {% endif %}
      
      
      <!-- END SECTION -->
    </table>
  </body>
</html>
